<div id="connection">
  <h2>Connection</h2>
  Serial Port:<br/>
  <select id="conn-port"></select><br/>
  <input type="text" name="port">

  <div class="row">
    <div class="col-md-2">

      <h4>Baud rate:</h4>

      <p ng-repeat="baudrate in baudrates">
        <input type="radio" name="baudrate" ng-model="defaults.baudrate" value="{{baudrate.value}}"/> {{baudrate.label}}
      </p>

    </div>
    <div class="col-md-2">

      <h4>Flow Control</h4>

      <p><input type="checkbox" name="ctsrts" ng-model="defaults.ctsrts" value="{{defaults.ctsrts}}"> CTS-RTS</p>

      <p><input type="checkbox" name="xonxoff" ng-model="defaults.xonxoff" value="{{defaults.xonxoff}}"> Xon-Xoff</p>

      <h4>Parity:</h4>

      <p ng-repeat="parity in parities">
        <input type="radio" name="parity" ng-model="defaults.parity" value="{{parity.value}}"/> {{parity.label}}
      </p>

      <h4>Stop bits:</h4>

      <p ng-repeat="stopbit in stopbits">
        <input type="radio" name="stopbits" ng-model="defaults.stopbits" value="{{stopbit.value}}"/> {{stopbit.label}}
      </p>

    </div>
    <div class="col-md-2">
      <h4>End Of Line:</h4>

      <p ng-repeat="EOL in EOLS">
        <input type="radio" name="EOL" ng-model="defaults.EOL" value="{{EOL.value}}"/> {{EOL.label}}
      </p>
    </div>
  </div>
  <div class="row">
    <button id="conn-refresh">Refresh</button>
    <button id="conn-connect" ng-click="showValues()">Connect</button>
  </div>
</div>
